In [2]:
import os
import gc
import ctypes
libc = ctypes.CDLL("libc.so.6")

import numpy as np
import pandas as pd
from tqdm.auto import tqdm

import sqlite3
from sqlalchemy import create_engine

In [4]:
# 读取 wiki 文章数据

wikidata = []
list_dir = os.listdir('./wiki_data')
list_dir = sorted(list_dir)
for path in list_dir:
    if 'wiki_2023_index' in path or 'debert' in path or 'my' in path or 'ipynb' in path:
        continue
    print(path)
    x = pd.read_parquet(os.path.join('./wiki_data', path), 
                        columns=['id', 'text'])
    x['id'] = x['id'].astype(int)
    wikidata.append(x)
    del x
    _ = gc.collect()
    libc.malloc_trim(0)
wikidata = pd.concat(wikidata, axis=0).reset_index(drop=True)
wikidata['page_id'] = wikidata['id'].astype(int)
wikidata['id'] = wikidata.index
wikidata.set_index('id', inplace=True)

display(wikidata)

a.parquet
b.parquet
c.parquet
d.parquet
e.parquet
f.parquet
g.parquet
h.parquet
i.parquet
j.parquet
k.parquet
l.parquet
m.parquet
n.parquet
number.parquet
o.parquet
other.parquet
p.parquet
q.parquet
r.parquet
s.parquet
t.parquet
u.parquet
v.parquet
w.parquet
x.parquet
y.parquet
z.parquet

                                                      text   page_id
id
0        A & B High Performance Firearms was a competit...  49495844
1        A & C Black is a British book publishing compa...   3579086
2        A & F Harvey Brothers, first Spinning Cotton M...  62397582
3        A & G Price Limited is an engineering firm and...  15547032
4        thumb|right|238px|A portion of the Karagheusia...   8021609
...                                                    ...       ...
6286770  Zəyəm Cırdaxan (also Dzegam-Dzhirdakhan, Dzega...  18881188
6286771  Zəyəm (also, Zagam, Zagyam, and Zeyam; ) is a ...  18873112
6286772  Zəyəm (also, Dzagam, Dzegam, Dzegan, Guseynbei...  18881204
6286773  Zəyəm (also, Zagam and Zagyam) is a village an...  18920475
6286774  Z̀ (minuscule: z̀) is a letter of the Latin al...  51132758

[6286775 rows x 2 columns]

In [5]:
df = wikidata[['text']]
df

                                                      text
id
0        A & B High Performance Firearms was a competit...
1        A & C Black is a British book publishing compa...
2        A & F Harvey Brothers, first Spinning Cotton M...
3        A & G Price Limited is an engineering firm and...
4        thumb|right|238px|A portion of the Karagheusia...
...                                                    ...
6286770  Zəyəm Cırdaxan (also Dzegam-Dzhirdakhan, Dzega...
6286771  Zəyəm (also, Zagam, Zagyam, and Zeyam; ) is a ...
6286772  Zəyəm (also, Dzagam, Dzegam, Dzegan, Guseynbei...
6286773  Zəyəm (also, Zagam and Zagyam) is a village an...
6286774  Z̀ (minuscule: z̀) is a letter of the Latin al...

[6286775 rows x 1 columns]

In [6]:
disk_engine = create_engine('sqlite:///wiki_text.db')
df.to_sql('wiki_text', disk_engine, if_exists='append')

6286775

In [7]:
df = wikidata[['page_id']]
df

          page_id
id
0        49495844
1         3579086
2        62397582
3        15547032
4         8021609
...           ...
6286770  18881188
6286771  18873112
6286772  18881204
6286773  18920475
6286774  51132758

[6286775 rows x 1 columns]

In [8]:
disk_engine = create_engine('sqlite:///wiki_index.db')
df.to_sql('wiki_index', disk_engine, if_exists='append')

6286775